@page "/studentlist"
@using Business_Logic_layer__BLL_.DTOs.Students

@inject Business_Logic_layer__BLL_.Services.Interfaces.IStudentRepo _studentService;

<h3>Students List</h3>
<p>We are proud of the Student we Teach here. We have Briliant Students who have passed out to be some of very successful people around the World.</p>

<p align="center" style="border:thick; border-width:5px; border-style:solid; padding:25px; font-size:20px"><b>Average age of a Student: @AverageAge()</b></p>
<table class="table">
    <thead>
        <tr>
            <td><b>Id</b></td>
            <td><b>Name</b></td>
            <td><b>Date Of Birth</b></td>
            <td><b>Class</b></td>
            <td><b>Country</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in list)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.DateOfBirth.Date</td>
                <td>@GetClassCountry(i.Id).Item1</td>
                <td>@GetClassCountry(i.Id).Item2</td>
            </tr>

        }
    </tbody>
</table>

@code {
    private List<StudentDto> list;

    protected override void OnInitialized()
    {
        list = _studentService.GetAll();
    }

    private Tuple<string,string> GetClassCountry(Guid id)
    {
        return _studentService.GetClassCountryName(id);
    }

    private int AverageAge()
    {
        return _studentService.AverageAge();
    } 
}
