@page "/studentlist"
@using Business_Logic_layer__BLL_.DTOs.Students

@inject Business_Logic_layer__BLL_.Services.Interfaces.IStudentRepo _studentService;

<h3>Students List</h3>
<p>We are proud of the Student we Teach here. We have Briliant Students who have passed out to be some of very successful people around the World.</p>

<p align="center" style="border:thick; border-width:5px; border-style:solid; padding:25px; font-size:20px"><b>Average age of a Student: @averageAge</b></p>
<br/>
<a href="student/0" style="font-size:20px"> Add New Student </a>
<table class="table">
    <thead>
        <tr>
            <td><b>Name</b></td>
            <td><b>Date Of Birth</b></td>
            <td><b>Class</b></td>
            <td><b>Country</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in list)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.DateOfBirth.Date</td>
                <td>@GetClassCountry(i.Id).Item1</td>
                <td>@GetClassCountry(i.Id).Item2</td>
                <td><a href="student/@i.Id.ToString()">Edit</a></td>
                <td><button @onclick=@(e => OnDelete(i.Id))>Delete</button></td>

            </tr>

        }
    </tbody>
</table>

@code {
    private List<StudentDto> list;
    private int averageAge;

    protected override void OnInitialized()
    {
        list = _studentService.GetAll();
        averageAge = _studentService.AverageAge();
    }

    private Tuple<string,string> GetClassCountry(Guid id)
    {
        return _studentService.GetClassCountryName(id);
    }

    private void OnDelete(Guid id)
    {
        _studentService.Delete(id);
        list = _studentService.GetAll();
        averageAge = _studentService.AverageAge();
    }
}
